@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

*{
  margin: 0;
  font-family: "Original Surfer";
  color: black;
}
/* need to work on this more */
/* .home */
.home h1 {
  font-size: 18px;
  color: olive;
  margin-bottom: 30px;
  }

  .home {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .image {
    display: flex;
   justify-content: center;
   align-items: center

}
/* .about */
.about {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
/* .weather */
.weather {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
/* .navbar */
.navbar {
  padding: 20px;
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid orangered;
  align-items: center;
  color: aquamarine;
}


/* .links {
  padding: 20px;
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid orangered;
  align-items: center;
  color: aquamarine;
} */

/* .logform */

.logform {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.logform label{
  text-align: left;
  display: block;
}

.logform h2 {
font-size: 18px;
color: olive;
margin-bottom: 30px;
}

.logform input, .logform select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}
.logform textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  resize: vertical;
}

.logform button {
  background-color: darkgray;
  color: aquamarine;
  border: 1;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

/* .posts */
.Logs {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
