@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

*{
  margin: 0;
  font-family: "Original Surfer";
  color: rgb(14, 11, 11);
}
/* need to work on this more */
/* .home */
.home h1 {
  font-size: 18px;
  color: olive;
  margin-bottom: 30px;
  }

  .home {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
/* .navbar */
.navbar {
  padding: 20px;
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid orangered;
  align-items: center;
}

.navbar links {
  margin-left: auto;
}
/* .logform */

.logform {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.logform label{
  text-align: left;
  display: block;
}

.logform h2 {
font-size: 18px;
color: olive;
margin-bottom: 30px;
}

.logform input, .logform textarea, .logform select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 2px solid yellowgreen;
  box-sizing: border-box;
  display: block;
}

.logform button {
  background-color: gray;
  color: lavender;
  border: 1;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;

}

/* .posts */
.Logs {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}